@import 'bootstrap/dist/css/bootstrap.min.css';
.page-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
} 
.counter {
  display: flex;
  align-items: center;
}
.counter .btn {
  display: flex;
  padding: 5px 8px;
}
.count-text {
  padding: 0 15px;
}
.counter-icn {
  max-width: 20px;
}
.loader {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  color: #fff;
}